<h1 class="ui dividing header">{{task.title}}</h1>
<div class="ui middle aligned two column grid">
	<div class="column">
		Assigned to: <img class="ui avatar image" src="assets/images/wireframe.png"> <span>John</span>
	</div>
	<div class="right aligned column">
		<button class="ui compact button">Mark as Complete</button>
		<button class="ui compact labeled icon button">
			<i class="write icon"></i>
			Edit
		</button>
	</div>
</div>
<p>
	{{task.description}}
</p>
<div class="middle aligned">
	Labels:
	<template [ngIf]="task.labels">
		<a class="ui label"
		   *ngFor="let label of task.labels"
		>{{label}}</a>
	</template>
	<template [ngIf]="! task.labels || task.labels.length === 0">
		None
	</template>
</div>
<div class="task-comments"
     [task]="task"
></div>